body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.app {
  margin-top: -50px;
  text-align: center;
}
.app-welcome {
  margin-top: -200px;
  font-size: 70px;
}

.app-welcome-details {
  font-size: 45px;
}

.text{
  margin-top: -150px;
}

.app-welcome-details-trash {
  font-size: 15px;
}

.trash{
  margin-top: -55px;
  margin-bottom: 70px;
}

.button-container {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  align-items: center; /* Center the button vertically if needed */
  margin-top: -200px;
}

